body {
	background-color: #111;
	overflow: hidden;
}

img.panel-background {
	z-index: -1;
	width: 1080px;
	position: absolute;
	left: 0;
	top: 0;
}

div.instrument {
	position: absolute;
	display: block;
	overflow: initial;
}

div.instrument>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#heading-indicator {
	position: absolute;
	display: block;
	overflow: initial;
	width: 280px;
	height: 280px;
	top: 410px;
	left: 770px;
	z-index: 1;
}

#heading-indicator>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#heading-indicator>#bug {
	z-index: 2;
}

#heading-indicator>#ring {
	z-index: 3;
}

#heading-indicator>#bug {
	z-index: 4;
}

#heading-indicator>#calib-knob {
	top: 89%;
	left: 5%;
	width: 11%;
	z-index: 5;
}

#heading-indicator>#bug-knob {
	z-index: 6;
	top: 89%;
	left: 85%;
	width: 11%;
}

#audio-panel {
	position: absolute;
	display: block;
	overflow: initial;
	width: 320px;
	top: 10px;
	left: 750px;
}

#warning-lights {
	position: absolute;
	display: block;
	overflow: initial;
	width: 260px;
	top: 28px;
	left: 210px;
}

#airspeed {
	top: 10px;
	left: 400px;
}

#attitude {
	top: 10px;
	left: 735px;
}

#altimeter {
	top: 10px;
	left: 1070px;
}

#turn_coordinator {
	top: 375px;
	left: 400px;
}

#variometer {
	top: 375px;
	left: 1070px;
}

#flap-control {
	position: absolute;
	display: block;
	overflow: initial;
	width: 110px;
	top: 650px;
	left: 960px;
}

#flap-control>img {
	position: absolute;
	width: 100%;
}

#flap-control>#background {
	z-index: 0;
}

#flap-control>#indicator {
	z-index: 1;
}

#flap-control>#lever{
	z-index: 2;
}


#tachometer {
	position: absolute;
	display: block;
	overflow: initial;
	width: 280px;
	height: 280px;
	top: 750px;
	left: 1105px;
}

#tachometer>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#tachometer>#base {
	z-index: 1;
}

#tachometer>#needle {
	z-index: 2;
}

#throttle {
	position: absolute;
	display: block;
	overflow: initial;
	top: 650px;
	left: 450px;
}

#throttle>img {
	position: absolute;
	display: block;
	overflow: initial;
	width: 180px;
	height: 180px;
}

#throttle>#base {
	z-index: 1;
}

#throttle>#handle {
	z-index: 2;
}

#mixture {
	position: absolute;
	display: block;
	overflow: initial;
	top: 650px;
	left: 590px;
}

#mixture>img {
	position: absolute;
	display: block;
	overflow: initial;
	width: 180px;
	height: 180px;
}

#mixture>#base {
	z-index: 1;
}

#mixture>#handle {
	z-index: 2;
}

#adf {
	position: absolute;
	display: block;
	overflow: initial;
	width: 280px;
	height: 280px;
	top: 750px;
	left: 1505px;
}

#adf>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#adf>#base {
	z-index: 1;
}

#adf>#arrow {
	z-index: 2;
}

#adf>#ring {
	z-index: 3;
}


#single-axis-vor {
	position: absolute;
	display: block;
	overflow: initial;
	width: 280px;
	height: 280px;
	top: 410px;
	left: 1505px;
}

#single-axis-vor>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#single-axis-vor>#base {
	z-index: 1;
}

#single-axis-vor>#ring {
	z-index: 2;
}

#single-axis-vor>#nav-flag {
	z-index: 3;
}

#single-axis-vor>#nav-mask {
	z-index: 4;
}

#single-axis-vor>#needle {
	z-index: 5;
	transform-origin: 50% 18%;
}

#single-axis-vor>#arrow {
	z-index: 6;
}


#two-axis-vor {
	position: absolute;
	display: block;
	overflow: initial;
	width: 280px;
	height: 280px;
	top: 45px;
	left: 1505px;
}

#two-axis-vor>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#two-axis-vor>#base {
	z-index: 1;
}

#two-axis-vor>#ring {
	z-index: 2;
}

#two-axis-vor>#nav-flag {
	z-index: 3;
}

#two-axis-vor>#gs-flag {
	z-index: 3;
}

#two-axis-vor>#masks {
	z-index: 4;
}

#two-axis-vor>#vert-needle {
	z-index: 5;
	transform-origin: 50% 18%;
}

#two-axis-vor>#horiz-needle {
	z-index: 5;
	transform-origin: 18% 50%;
}

#two-axis-vor>#arrow {
	z-index: 6;
}

@font-face {
	font-family: "Digital7";
	src: url("../fonts/digital-7.mono.ttf");
}

@font-face {
	font-family: "Digital7-italic";
	src: url("../fonts/digital-7.monoitalic.ttf");
}

.eng-instrument {
	width: 187px;
	height: 187px;
}

.base {
	z-index: 1;
}

.middle {
	z-index: 2;
}

.top {
	z-index: 3;
}

#egt-fuel-flow {
	top: 430px;
	left: 220px;
}

#fuel-quantity {
	top: 430px;
	left: 10px;
}

#temp-press {
	top: 650px;
	left: 10px;
}

#vac-amp {
	top: 650px;
	left: 220px;
}

