body {
	background-color: #111;
	overflow: hidden;
}

img.panel-background {
	z-index: -1;
	width: 1080px;
	position: absolute;
	left: 0;
	top: 0;
}

div.instrument {
	position: absolute;
	display: block;
	overflow: initial;
}

div.instrument>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#heading-indicator {
	position: absolute;
	display: block;
	overflow: initial;
	width: 305px;
	height: 305px;
	top: 385px;
	left: 903px;
	z-index: 1;
}

#heading-indicator>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#heading-indicator>#bug {
	z-index: 2;
}

#heading-indicator>#ring {
	z-index: 3;
}

#heading-indicator>#bug {
	z-index: 4;
}

#heading-indicator>#calib-knob {
	top: 89%;
	left: 5%;
	width: 11%;
	z-index: 5;
}

#heading-indicator>#bug-knob {
	z-index: 6;
	top: 89%;
	left: 85%;
	width: 11%;
}

#airspeed {
	top: -25px;
	left: 512px;
}

#attitude {
	top: -25px;
	left: 868px;
}

#altimeter {
	top: -25px;
	left: 1222px;
}

#turn_coordinator {
	top: 350px;
	left: 512px;
}

#variometer {
	top: 350px;
	left: 1218px;
}

#tachometer {
	position: absolute;
	display: block;
	overflow: initial;
	width: 305px;
	height: 305px;
	top: 770px;
	left: 1255px;
}

#tachometer>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#tachometer>#base {
	z-index: 1;
}

#tachometer>#needle {
	z-index: 2;
}

#throttle {
	position: absolute;
	display: block;
	overflow: initial;
	top: 650px;
	left: 450px;
}

#adf {
	position: absolute;
	display: block;
	overflow: initial;
	width: 305px;
	height: 305px;
	top: 765px;
	left: 1605px;
}

#adf>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#adf>#base {
	z-index: 1;
}

#adf>#arrow {
	z-index: 2;
}

#adf>#ring {
	z-index: 3;
}


#single-axis-vor {
	position: absolute;
	display: block;
	overflow: initial;
	width: 305px;
	height: 305px;
	top: 390px;
	left: 1605px;
}

#single-axis-vor>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#single-axis-vor>#base {
	z-index: 1;
}

#single-axis-vor>#ring {
	z-index: 2;
}

#single-axis-vor>#nav-flag {
	z-index: 3;
}

#single-axis-vor>#nav-mask {
	z-index: 4;
}

#single-axis-vor>#needle {
	z-index: 5;
	transform-origin: 50% 18%;
}

#single-axis-vor>#arrow {
	z-index: 6;
}


#two-axis-vor {
	position: absolute;
	display: block;
	overflow: initial;
	width: 305px;
	height: 305px;
	top: 15px;
	left: 1605px;
}

#two-axis-vor>img {
	position: absolute;
	display: block;
	overflow: initial;
}

#two-axis-vor>#base {
	z-index: 1;
}

#two-axis-vor>#ring {
	z-index: 2;
}

#two-axis-vor>#nav-flag {
	z-index: 3;
}

#two-axis-vor>#gs-flag {
	z-index: 3;
}

#two-axis-vor>#masks {
	z-index: 4;
}

#two-axis-vor>#vert-needle {
	z-index: 5;
	transform-origin: 50% 18%;
}

#two-axis-vor>#horiz-needle {
	z-index: 5;
	transform-origin: 18% 50%;
}

#two-axis-vor>#arrow {
	z-index: 6;
}

.eng-instrument {
	width: 200px;
	height: 200px;
}

.base {
	z-index: 1;
}

.middle {
	z-index: 2;
}

.top {
	z-index: 3;
}

#egt-fuel-flow {
	top: 395px;
	left: 283px;
}

#fuel-quantity {
	top: 395px;
	left: 45px;
}

#temp-press {
	top: 690px;
	left: 45px;
}

#vac-amp {
	top: 690px;
	left: 283px;
}

